

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.screen {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
}

.active {
    display: flex !important;
    visibility: visible;
}


/* Game Styles */

/* Results Styles */

/* 
.paper table thead {
    border: 1px solid #000;
} */
.fa-check {
    color: #3aee16;
}

.fa-times {
    color: #dd1f11
}


